---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">Conèixer</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Josep Roca-Sastre</h2>
                    <p>Josep Roca-Sastre i Muncunill (Terrassa, 1928 - Barcelona, 1997) fou un pintor català, fill del jurista Ramon Maria Roca i Sastre i net de l'arquitecte modernista, Lluís Muncunill i Parellada.</p>
                    <p>Fou membre numerari de la Reial Acadèmia Catalana de Belles Arts de Sant Jordi de Barcelona (1980). Havia obtingut el premi Sant Jordi de la Diputació de Barcelona (1966) i la medalla d'honor del Salon des Artistes Français de París (1968) i el Premi Quadern de la Fundació Amics de les Arts i de les Lletres de Sabadell (1993).</p>
                </section>
                <section>
                    <p>sposnsor</p>
                </section>
                <section>
                    <p>socials</p>
                </section>
                <p class="copyright">
                    &copy; Família Roca-Sastre. Disseny: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <img style="width: 100%;margin-right: 1em;" src="https://www.enciclopedia.cat/sites/default/files/media/FOTO/GEC56205_FOTOTECA41916.jpg">
                </section>
            </div>
        </div>
    </footer>
</div>
